@import "tailwindcss";

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float-fast {
  animation: float 2.5s ease-in-out infinite;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}